.light {
        .main-content{
            background-color: #eee
        } 
        h1{
            color:#000
        }
        li{
            color:#fff;
        }
    }

    .dark {
        .main-content{
            background-color: #000
        } 
        h1{
            color:#FFF
        }
    }