@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import './../conf';
body,
html,
simple-layout,
full-layout {
    height: 100%;
}

html,
body {
    -webkit-overflow-scrolling: touch;
    word-break: break-all;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #222222;
    ::selection {
        background: #132c70;
        /* WebKit/Blink Browsers */
        color: #fff;
    }
    ::-moz-selection {
        background: #132c70;
        /* Gecko Browsers */
        color: #fff;
    }
}

simple-layout {
    .overlay {
        z-index: 1;
        background: url('/assets/images/bg.jpg') no-repeat center center fixed;
        position: absolute;
        height: 100%;
        width: 100%;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

// IE10&11 Flexbox fix
@media all and (-ms-high-contrast: none) {
    html {
        display: flex;
        flex-direction: column;
    }
}

// app-dashboard and app-root are Angular2+ selectors. You can add here your own selectors if you need.
.app,
app-dashboard,
app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

// .app-header {
//   flex: 0 0 $navbar-height;
// }
.app-footer {
    flex: 0 0 $footer-height;
}

.app-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
   // overflow-x: hidden;
    .main {
        flex: 1;
        min-width: 0;
        margin-top: $navbar-height + 20;
    }
    .sidebar {
        // $sidebar-width is the width of the columns
        flex: 0 0 $sidebar-width; // put the nav on the left
        order: -1;
    }
    .aside-menu {
        // $aside-menu-width is the width of the columns
        flex: 0 0 $aside-menu-width;
    }
}

//
// header
//
// .header-fixed {
.app-header {
    position: fixed;
    z-index: $zindex-sticky - 10;
    height: $navbar-height;
    width: 100%;
    top: 0;
    right: 0;
    margin-left: $sidebar-width;
    background-color: $app-header-bg;
    flex: 0 0 $navbar-height;
}

// .app-body {
//   margin-top: $navbar-height;
// }
// }
//
// Sidebar
//
.sidebar-hidden {
    .sidebar {
        margin-left: -$sidebar-width;
    }
}

.sidebar-fixed {
    .sidebar {
        position: fixed;
        z-index: $zindex-sticky - 1;
        width: $sidebar-width;
        height: 100%; 
    }
    .main,
    .app-footer,
    .app-header {
        margin-left: $sidebar-width;
    }
    &.sidebar-hidden {
        .main,
        .app-footer,
        .app-header {
            margin-left: 0;
        }
    }
}

.sidebar-off-canvas {
    .sidebar {
        position: fixed;
        z-index: $zindex-sticky - 1;
        height: calc(100vh - #{$navbar-height});
    }
}

@include media-breakpoint-up(lg) {
    .sidebar-compact {
        .sidebar {
            flex: 0 0 $sidebar-compact-width;
        }
        &.sidebar-hidden {
            .sidebar {
                margin-left: -$sidebar-compact-width;
            }
        }
        &.sidebar-fixed {
            .main,
            .app-footer,
            .app-header {
                margin-left: $sidebar-compact-width;
            }
            .sidebar {
                width: $sidebar-compact-width;
            }
            &.sidebar-hidden {
                .main,
                .app-footer,
                .app-header {
                    margin-left: 0;
                }
            }
        }
    }
    .sidebar-minimized {
        .sidebar {
            flex: 0 0 $sidebar-minimized-width;
        }
        &.sidebar-hidden {
            .sidebar {
                margin-left: -$sidebar-minimized-width;
            }
        }
        &.sidebar-fixed {
            .main,
            .app-footer,
            .app-header {
                margin-left: $sidebar-minimized-width;
            }
            .sidebar {
                width: $sidebar-minimized-width;
            }
            &.sidebar-hidden {
                .main,
                .app-footer,
                .app-header {
                    margin-left: 0;
                }
            }
        }
    }
}



//
// Footer
//
.footer-fixed {
    .app-footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $zindex-sticky;
        height: $footer-height;
    }
    .app-body {
        margin-bottom: $footer-height;
    }
}

//
// Animations
//
.app-header,
.app-footer,
.sidebar,
.main,
.aside-menu {
    transition: margin-left $layout-transition-speed,
        margin-right $layout-transition-speed, width $layout-transition-speed,
        flex $layout-transition-speed;
}

.sidebar-nav {
    transition: width $layout-transition-speed;
}

.breadcrumb {
    transition: left $layout-transition-speed, right $layout-transition-speed,
        width $layout-transition-speed;
}

//
// Mobile layout
//
@include media-breakpoint-down(md) {
    .sidebar-header .navbar {
        width: $mobile-sidebar-width;
    }
    .side-header.navbar {
        position: fixed !important;
        z-index: $zindex-sticky;
        width: 100%;
        text-align: center;
        background-color: $navbar-brand-bg; // @include borders($navbar-brand-border);
        .navbar-toggler {
            @if (lightness($navbar-brand-bg) >40) {
                color: $navbar-color;
            } @else {
                color: #fff;
            }
        }
        .navbar-brand {
            visibility: hidden;
            opacity: 0;
            height: 0;
            width: 0; // margin-left: $navbar-brand-minimized-ml; // position: absolute;
            // left: 50%;
            // margin-left: - ($navbar-brand-width / 2);
        }
    } // .app-body {
    // margin-top: $navbar-height;
    // }
    .breadcrumb-fixed {
        .main:nth-child(2) .breadcrumb {
            right: auto;
            left: auto;
            width: 100%;
        }
    }
    .sidebar,
    .sidebar-fixed .sidebar {
        position: fixed;
        z-index: $zindex-sticky - 1;
        width: $mobile-sidebar-width; // height: 100%;
        margin-left: -$mobile-sidebar-width;
        .sidebar-nav,
        .nav {
            @include bg-gradient(rgba(0, 4, 40, 1), rgba(0, 78, 146, 1), 90deg);
            width: $mobile-sidebar-width !important;
            min-height: calc(100vh - #{$navbar-height});
        }
        .sidebar-minimizer {
            display: none;
        }
    }
    .main,
    .app-footer,
    .app-header {
        margin-left: 0 !important;
    } // .aside-menu {
    //   margin-right: - $aside-menu-width;
    // }
    .sidebar-hidden {
        .sidebar {
            margin-left: -$mobile-sidebar-width;
        }
    }
    .sidebar-mobile-show {
        .sidebar {
            width: $mobile-sidebar-width;
            margin-left: 0;
        }
        .main {
            margin-right: -$mobile-sidebar-width !important;
            margin-left: $mobile-sidebar-width !important;
        }
    }
    .header-toggler {
        height: 100%;
        border: none;
    }
}
