.nav-tabs {
  border: 0;
  .nav-link {
    cursor: pointer;
    border: 0; // color: $gray-600;
    &.active, &:hover{
      // color: $gray-800;
      background: $gray-100; // border-color: $border-color;
      // border-bottom-color: #fff;
      &:focus {
        background: $gray-100; // border-color: $border-color;
        // border-bottom-color: #fff;
      }
    }


  }
}

.tab-content {
  margin-top: -1px;
  background: #fff; // border: 1px solid $border-color;
  .tab-pane {
    padding: $spacer;
  }
}

.card-block {
  .tab-content {
    margin-top: 0;
    border: 0;
  }
}
